.to-do{
    box-sizing: border-box;
    width: 20%;
    background-color: rgb(247, 245, 165);
    text-align: center;
    padding: .5em;
    margin: 1em;
    border-radius: .8em;
    cursor: pointer;
}
.task-headings{
    margin-left: 2em;
}

#completed-items, #incomplete-items{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

#completed-items{
    border: 2px solid white;
}

#incomplete-items{
    border: 2px solid white;
}

#input-section{
    text-align: center;
}

.to-do h4{
    margin: 0px;
}

.to-do p{
    margin: 0px;
}

.is-complete{
    opacity: 45%;
    background-color: rgb(138, 197, 138);
    /* text-decoration: line-through; */
}

body{
    margin: 1em;
    background-image: linear-gradient(white, rgb(138, 197, 138));
    margin-bottom: 50em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    
}

input{
    margin: 1em;
}

#addBtn{
    padding: 1em;
}

